services:
  prism:
    container_name: prism
    image: ghcr.io/lone-cloud/prism:dev
    ports:
      - '8080:8080'
    environment:
      - PORT=8080
      - API_KEY=${API_KEY:-}
      - VERBOSE_LOGGING=${VERBOSE_LOGGING:-false}
      - RATE_LIMIT=${RATE_LIMIT:-100}
      - DEVICE_NAME=${DEVICE_NAME:-Prism}
      - STORAGE_PATH=${STORAGE_PATH:-./data/prism.db}
      - FEATURE_ENABLE_SIGNAL=${FEATURE_ENABLE_SIGNAL:-false}
      - SIGNAL_SOCKET=/home/signal/.signal-cli/socket
      - FEATURE_ENABLE_PROTON=${FEATURE_ENABLE_PROTON:-false}
      - PROTON_IMAP_USERNAME=${PROTON_IMAP_USERNAME:-}
      - PROTON_IMAP_PASSWORD=${PROTON_IMAP_PASSWORD:-}
      - PROTON_BRIDGE_ADDR=${PROTON_BRIDGE_ADDR:-protonmail-bridge:143}
      - FEATURE_ENABLE_TELEGRAM=${FEATURE_ENABLE_TELEGRAM:-false}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN:-}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID:-}
    volumes:
      - prism-data:/app/data
      - signal-socket:/home/signal/.signal-cli:ro
    restart: unless-stopped

  signal-cli:
    container_name: signal-cli
    image: ghcr.io/lone-cloud/prism-signal-cli:latest
    profiles: ['signal']
    volumes:
      - signal-data:/home/.local/share/signal-cli
      - signal-socket:/home/signal/.signal-cli
      - /tmp/signal-cli:/home/signal/.signal-cli
    restart: unless-stopped

  protonmail-bridge:
    container_name: protonmail-bridge
    image: shenxn/protonmail-bridge:build
    profiles: ['proton']
    ports:
      - '127.0.0.1:143:143'
    volumes:
      - proton-bridge-data:/root
      - /tmp/bridge-updates:/root/.local/share/protonmail/bridge-v3/updates:ro
    restart: unless-stopped

volumes:
  signal-data:
  signal-socket:
  prism-data:
  proton-bridge-data:
